mixin formElement
    form.form
        div.form__inner
            input.form__input(placeholder="Ваше имя")
            input.form__input(placeholder="Email")
            button.form__btn.btn(type="submit") Получить консультацию

mixin pointListItems(values)
    each value in values
        li.point-list__item
            img(src=require('../assets/images/icons/point.svg'))
            span= value


mixin cubeListItems(values)
    each value in values
        li.cube-list__item
            img(src=require('../assets/images/icons/small-cube.svg'))
            span= value

mixin breadcrumb(values)
    div.breadcrumb
        each value in values
              div.breadcrumb__item= value
                  if value !== values[values.length - 1]
                    span /



