div.sidebar
    button.sidebar__close-btn(type='button')
        img.sidebar__img(src=require('../assets/images/icons/close.svg'))
    div.sidebar__block
        img.sidebar__logo(src=require('../assets/images/icons/sidebar-logo.svg'))
        nav.sidebar__menu
            ul.sidebar__list
                li.sidebar__item
                    a.sidebar__link консультации
                li.sidebar__item
                    a.sidebar__link Услуги
                li.sidebar__item
                    a.sidebar__link Треннинги
                li.sidebar__item
                    a.sidebar__link Блог
            div.sidebar__networks
                a.sidebar__networks-link
                    img(src=require('../assets/images/icons/facebook.svg'))
                a.sidebar__networks-link
                    img(src=require('../assets/images/icons/whatsapp.svg'))
                a.sidebar__networks-link
                    img(src=require('../assets/images/icons/telegram.svg'))